:root {
  --color-primary: #0d1b2a;
  --color-secondary: #1b263b;
  --color-tertiary: #415a77;
  --color-quaternary: #778da9;
  --color-background: #e0e1dd;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h3 {
  margin-left: 20px;
}

table {
  margin-left: 20px;
  border-collapse: collapse;
}

thead {
  background-color: var(--color-tertiary);
  color: white;
}

th,
td {
  border: 1px solid var(--color-quaternary);
  padding: 8px;
}

/* Form styles */
.form-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="number"] {
  padding: 5px;
  margin: 5px;
  width: 120px;
  border-radius: 5px;
  border: none;
}

.form-wrapper label {
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.form-wrapper .entry {
  display: flex;
  justify-content: space-between;
}

.form-wrapper .entry:last-of-type {
  margin-bottom: 10px;
}

.form-wrapper .add-row {
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
}

.form-wrapper .add-row:hover {
  background-color: var(--color-secondary);
}

.form-wrapper .notes {
  margin: 10px 0;
}

.form-wrapper .notes label {
  margin-right: 10px;
}

.form-wrapper .buttons {
  margin-top: 10px;
}

/* Header styles */
header {
  background-color: var(--color-primary);
  color: white;
  padding: 10px;
  text-align: center;
}

header img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
