.sidebar {
  width: 48px;
  transition: width 0.3s ease;
}

.sidebar.open {
  width: 200px; /* Adjust the width as needed */
}

.sidebar.closed {
  width: 54px;
}

.footer.open {
  height: 100px;  
  transition: height 0.3s ease-in-out;
}

.footer.closed {
  height: 50px;
  transition: height 0.3s ease-in-out;
}

.list-item {
  /* ... your existing styles */
  transition: background-color 0.5s ease, color 0.5s ease; /* Add a transition for background-color and text color */
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.list-item.selected {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease; /* Add a transition for the opacity property */
}


/* Thin scrollbar styles for specific components */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Round edges of the track */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888 !important;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Make the handle rounded */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar handle on hover */
}

/* SCROLL BAR Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}