.sidebar {
  width: 48px;
  transition: width 300ms;
}

.sidebar.open {
  width: 200px; /* Adjust the width as needed */
}

.sidebar.closed {
  width: 48px;
}

.footer.open {
  height: 100px;
  transition: height 0.3s ease-in-out;
}

.footer.closed {
  height: 50px;
  transition: height 0.3s ease-in-out;
}